Defaults:cnvcecom !fqdn
Defaults:cnvcecom !requiretty
cnvcecom ALL=(ALL) NOPASSWD: /sbin/shutdown -h now, /sbin/shutdown -r now, /usr/local/bin/check_cpu, /usr/local/bin/check_mem_ram, /usr/local/bin/check_mem_swap, /usr/bin/systemctl, /sbin/service
