require('craftzdog.base')
require('craftzdog.highlights')
require('craftzdog.maps')
require('craftzdog.plugins')

local has = vim.fn.has
local is_mac = has "macunix"
local is_win = has "win32"
local is_wsl = has "wsl"

if is_mac == 1 then
  require('craftzdog.macos')
end
if is_win == 1 then
  require('craftzdog.windows')
end
if is_wsl == 1 then
  require('craftzdog.wsl')
end

-- Configuración de nvim-lspconfig
local lspconfig = require('lspconfig')

-- Configuración para el servidor de lenguaje Ansible
lspconfig.ansiblels.setup {}

-- Configuración adicional para el formato de archivos YAML de Ansible
lspconfig.yamlls.setup {
  filetypes = { 'yaml.ansible' },
}

-- Asigna el servidor de lenguaje Ansible a los buffers YAML de Ansible
vim.api.nvim_exec([[
  autocmd FileType yaml.ansible lua require('lspconfig').ansiblels.setup{}
]], false)

vim.g.coc_filetype_map = {
  ['yaml.ansible'] = 'ansible',
}

-- Set the version of Ansible
vim.g.ansible_builtin_ansibleVersion = '2.10.8'

-- Set the version of ansible-lint
vim.g.ansible_builtin_ansibleLintVersion = '5.4.0'

-- Set the version of yamllint
vim.g.ansible_builtin_yamllintVersion = '1.26.0'

-- Configuración del tipo de archivo Ansible en init.lua
vim.api.nvim_exec([[
  autocmd BufNewFile,BufRead *.yml set filetype=yaml.ansible
]], false)

