 Este es un sistema computacional y su acceso es únicamente para usuarios \
autorizados. No compartas tus credenciales (usuario y contraseña), son de \
uso personal. *Cambia periódicamente la contraseña de acceso a la \
computadora, correo o sistemas que accedes. Por ejemplo: al menos cada \
30 días. *Utiliza contraseñas que combinen números, caracteres especiales, \
letras mayúsculas y minúsculas, con una longitud de al menos 10 \
caracteres. *Bloquear tu computadora cada vez que te alejes del escritorio \
de trabajo. *Protege la información interna, confidencial o secreta bajo llave \
o en sistemas autorizados."
