hostname,ipaddress,gateway,interface,architecture,date,Uptime,Os Family,Distribution,Version,Status Release,Status Suscribed,Memory(MB),Memory FREE(MB),Memory swap(MB),Cores,Processor by Cores,virtual CPU, HyperVisor,WWW, % Used CPU, Process High Used CPU, % Used Memory
