Defaults:{{item.user}} !fqdn
Defaults:{{item.user}} !requiretty
{{item.user}} ALL= NOPASSWD: /sbin/shutdown -h now, /sbin/shutdown -r now, /usr/local/bin/check_cpu, /usr/local/bin/check_mem_ram, /usr/local/bin/check_mem_swap, /usr/local/bin/check_disk, /usr/bin/systemctl, /sbin/service,  /usr/bin/netstat -ntplow, /usr/bin/cat /var/log/messages, /usr/bin/cat /var/log/syslog
