if type -q exa
  alias ll "exa -l -g --icons -a -s modified -h"
  alias lla "ll -a"
end
set -x ANSIBLE_CONFIG ~/data/ansible.cfg
set -x EDITOR nvim

function fzf_change_directory
    set dir ( find . -type d | fzf)
    if test $status -eq 0
        cd $dir
    end
end

