** This equipment belongs to laboratory the course of 
{{curso}}
** if you is following closely to instructor {{ instructor }}
** put into practice you learned

{{ ansible_hostname }}
{{ ansible_default_ipv4.address }}

***
